@media only screen and (max-width: 890px) {
    .number{
        width: 100px;
        height: 80px;
        font-size: 2em;
    }
}
@media only screen and (max-width: 610px) {
    .number{
        width: 60px;
        height: 120px;
        margin: 10px;
    }
}