#LevelIcon:hover{
    background-color: var(--cor-green);
    color: var(--cor-yellow);
    border-color: var(--cor-yellow);
}
.Cards:hover{
    background-color: var(--cor-green);
    color: var(--cor-yellow);
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px var(--cor-black-10);
}
.number:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 10px var(--cor-black-10);
    background-color: var(--cor-yellow);
    color: var(--cor-black-30);
    border-color: var(--cor-black-50);
}
#ButtonMenu:hover{
    background-color: var(--cor-blue);
    color: var(--cor-black-10);
    border-color: var(--cor-black-10);
}