/* Estilo geral */
*{
    margin: 0;
    padding: 0;
}
:root{
    /* Tons de Preto */
    --cor-black-10: #000000;
    --cor-black-20: #121214;
    --cor-black-30: #17171a;
    --cor-black-40: #202024;
    --cor-black-50: #252529;
    --cor-black-60: #afabb6;
    --cor-black-70: #ffffff;
    /* Paleta de Cores */
    --cor-blue: #005f99;
    --cor-green: #00704a;
    --cor-yellow: #ffcc00;
}
/* Estilo geral do Corpo e Alma do Site; html e body */
html, body{
    width: 100%;
    height: 100%;
    background-color: var(--cor-black-10);
}
body{
    display: flex;
    flex-direction: column;
}
/* Estilo da Cabeça */
header{
    background-color: var(--cor-blue);
    height: 70px;
    display: flex;
    align-items: center;
}
/* Estilo do Cérebro */
#Title{
    flex: auto;
    font-size: 2.5em;
    color: var(--cor-black-70);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#LevelIcon{
    width: 50px;
    height: 50px;
    background-color: var(--cor-black-50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-black-70);
    margin: 0px 10px;
    cursor: pointer;
    color: var(--cor-black-70);
    transition: 0.8s ease;
}
/* Estilo do Corpo das Cartas de Interação */
main{
    background-color: var(--cor-black-20);
    flex: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Estilo das Cartas */
.Cards{
    width: 250px;
    height: 300px;
    margin: 10px;
    background-color: var(--cor-black-30);
    border: 1px solid var(--cor-black-70);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    transition: 0.8s ease;
    color: var(--cor-black-70);
}
/* Estilo Frente das Cartas */
.front{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
/* Estilo Atrás das Cartas */
.Back{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
/* Estilo do Jogo */
#Game{
    width:  100%;
    height: 100%;
    display: none;
    flex-direction: column;
}
#Question{
    width: 100%;
    height: 100px;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--cor-black-70);
    
}
#Account{
    margin-left: 10px;
    background-color: transparent;
    color: var(--cor-blue);
}
#ListofNumbers{
    flex: auto;
    background-color: var(--cor-black-50);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ListofNumbers > span{
    display: flex;
    flex-direction: row;
}
.number{
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: var(--cor-green);
    border: 1px solid var(--cor-black-70);
    color: var(--cor-black-70);
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
/* Estilo do Pé */
footer{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilo da Unha */
footer > a{
    text-decoration: none;
    color: var(--cor-black-70);
    font-size: 1.2em;
}