/* Estilo geral */
*{
    margin: 0;
    padding: 0;
}
:root{
    /* Tons de Preto */
    --cor-black-10: #000000;
    --cor-black-20: #121214;
    --cor-black-30: #17171a;
    --cor-black-40: #202024;
    --cor-black-50: #252529;
    --cor-black-60: #afabb6;
    --cor-black-70: #ffffff;
    /* Paleta de Cores */
    --cor-Neon-10: #051F39;
    --cor-Neon-20: #4A2480;
    --cor-Neon-30: #C53A9D;
    --cor-Neon-40: #FF8E80;
}
:root{
    /* Tons de Preto */
    --cor-black-10: #000000;
    --cor-black-20: #121214;
    --cor-black-30: #17171a;
    --cor-black-40: #202024;
    --cor-black-50: #252529;
    --cor-black-60: #afabb6;
    --cor-black-70: #ffffff;
    /* Paleta de Cores */
    --cor-blue: #005f99;
    --cor-green: #00704a;
    --cor-yellow: #ffcc00;
}
/* Estilo geral do Corpo e Alma do Site; html e body */
html, body{
    width: 100%;
    height: 100%;
    background-color: var(--cor-black-10);
}
body{
    display: flex;
    flex-direction: column;
}
/* Estilo da Cabeça */
header{
    background-color: var(--cor-Neon-20);
    height: 70px;
    display: flex;
    align-items: center;
}
/* Estilo do Cérebro */
#Title{
    flex: auto;
    font-size: 2.5em;
    color: var(--cor-black-70);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#LevelIcon{
    width: 50px;
    height: 50px;
    background-color: var(--cor-black-50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-black-70);
    margin: 0px 10px;
    cursor: pointer;
    color: var(--cor-black-70);
    transition: 0.8s ease;
}
/* Estilo do Corpo das Cartas de Interação */
main{
    background-color: var(--cor-Neon-10);
    flex: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Estilo das Cartas */
.Cards{
    width: 250px;
    height: 300px;
    margin: 10px;
    background-color: var(--cor-black-30);
    border: 1px solid var(--cor-black-70);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    transition: 0.8s ease;
    color: var(--cor-black-70);
}
/* Estilo Frente das Cartas */
.front{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
/* Estilo Atrás das Cartas */
.Back{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
/* Estilo do Jogo */
#Game{
    width:  100%;
    height: 100%;
    display: none;
    flex-direction: column;
}
#Question{
    width: 100%;
    height: 100px;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--cor-black-70);
    
}
#Account{
    margin-left: 10px;
    background-color: transparent;
    color: var(--cor-Neon-30);
}
#ListofNumbers{
    flex: auto;
    background-color: var(--cor-black-50);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ListofNumbers > span{
    display: flex;
    flex-direction: row;
}
.number{
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: var(--cor-Neon-20);
    border: 1px solid var(--cor-black-70);
    color: var(--cor-black-70);
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
/* Estilo do Pé */
footer{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilo da Unha */
footer > a{
    text-decoration: none;
    color: var(--cor-black-70);
    font-size: 1.2em;
}

/* Janela Moldável */
#MoldableWindow{
    position: absolute;
    top: 0%;
    width:  100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.578);
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--cor-black-70);
}
#WindowXP{
    width: 400px;
    height: 210px;
    background-color: var(--cor-black-40);
    border: 1px solid ;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}
#Level{
    width: 100%;
    height: 50px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#XP{
    overflow: hidden;
    width: 100%;
    height: 5px;
    background-color: var(--cor-black-70);
    margin: 10px 0px;
    border-radius: 50px;
    display: flex;
}
#XPAll{
    background-color: var(--cor-blue);
    width: 0%;
    height: 100%;
}
#XPGained{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    margin: 10px 0px;
}
#Skills{
    width: 100%;
    height: 100px;
    margin: 10px 0px;
    background-color: var(--cor-black-50);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.skill{
    background-color: var(--cor-blue);
    border: 1px solid var(--cor-black-70);
    color: var(--cor-black-70);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: .3s linear;
}
.Locked{
    background-color: var(--cor-black-50);
    color: var(--cor-black-60);
    border: 1px solid var(--cor-black-60);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: .3s linear;
}
#ButtonFlex{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ButtonMenu{
    background-color: var(--cor-Neon-20);
    border: 1px solid var(--cor-black-70);
    font-size: 1.5em;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
    color: var(--cor-black-70);
}